<div class="row">
  <div class="col-md-12">
    <h1>Toys Item</h1>
  </div>
</div>
<h3>
  <div class="row">
    <div class="col-sm-1">
      Product Key
    </div>
    <div class="col-sm-2">
      Name
    </div>
    <div class="col-sm-2">
      <div class="admin-hide">
        Description
      </div>
    </div>
    <div class="col-sm-2">
      <div class="admin-hide">
        Picture URL
      </div>
    </div>
    <div class="move-left">
    <div class="col-sm-1">
      WS Price
    </div>
    </div>
    <div class="col-sm-1">
      LS Price
    </div>
  </div>
</h3>

<% @dep002s.each do |item| %>
  <ul class="dep_ul">
    <div class="row">
      <li class="col-sm-1"><%= item.product_key %></li>
      <li class="col-sm-2"><%= item.name %></li>
      <div class="admin-hide"><li class="col-sm-2"><%= item.description %></li></div>
      <div class="admin-hide"><li class="col-sm-2"><%= item.picurl %></li></div>
      <li class="col-sm-1"><%= item.whole_sale %></li>
      <li class="col-sm-1"><%= item.retail_value %></li>
      <li class="col-sm-1"> </li>
      <li class="col-sm-1"><%= link_to "Edit", edit_dep002_path(item), class: "btn btn-primary" %></li>
      <li class="col-sm-1"><%= link_to "Delete", item, class: "btn btn-danger", method: :delete, data:
        { confirm: "Are you sure you want to Delete this item?" } %></li>
    </div>
  </ul>
<% end %>
<%= link_to 'New Toy Item', new_dep002_path, class: "btn btn-warning" %>
