<p id="notice"><%= notice %></p>

<p>
  <strong>Product key:</strong>
  <%= @dep002.product_key %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dep002.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dep002.description %>
</p>

<p>
  <strong>Picurl:</strong>
  <%= @dep002.picurl %>
</p>

<p>
  <strong>Whole sale:</strong>
  <%= @dep002.whole_sale %>
</p>

<p>
  <strong>Retail value:</strong>
  <%= @dep002.retail_value %>
</p>

<%= link_to 'Edit', edit_dep002_path(@dep002) %> |
<%= link_to 'Back', dep002s_path %>
